*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: 'Gill Sans Infanted';
    src: url("../fonts/GillSansInfantStd.otf"); 
}
 @font-face{
     font-family: 'Gill Sans Nova';
     src: url("../fonts/GillSansInfantStd-Bold.otf");
 }

@font-face{
    font-family: 'Trade Gothic';
    src: url("../fonts/TradeGothicLTCom-BdCn20.ttf");
}


body{
    background-color: #ffffff;
    font-family:'Gill Sans Infanted';
    margin: 0;
    padding: 10%;
}

.banner1{
    max-width: 100%;
    width: 25%;
}

.savet1{
    background-color: black;
    padding: .2%;
}

header > ul{
    padding: 0%;
    background-color: #ffffff;
    margin-left: 4em;
}



li{
    display: inline-block;
    padding-left: 4%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    justify-content: space-between;
}

.parent{
    background-color: #ffffff;;
}

.img1{
    width: 94%;
    height: 20%;
    margin-top: -70px;
}
.encasa1{
    font-size: 20px;
    font-family: 'Trade Gothic';
}
.article1{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    background-color: #ffffff;;
}

.subarti2{
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    background-color: #ffffff;;
}

.article2{
    background-color: rgb(220, 215, 198);
    padding: 3em;
}
  
.art1{
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}







.art2{
    font-size: 1.3em;
    padding: .2em;
}

.pos{
    margin-left: 3em;
    margin-bottom: 2em;
}

.divposi{
    text-align: center;
    padding: 0%;
}

.tittleb{
    padding: .5em 0em .5em .5em;
    color: #ffffff;
    background-color: rgb(40, 40, 38);
    font-family: 'Trade Gothic';
    font-size: 25px;
}

.article2b{
    text-align: center;
    color: rgb(219, 30, 38);
    margin-bottom: 4%;
    font-size: 28px;
}

.article2bb{
    color: rgb(219, 30, 38);
    font-size: 1.5em;
}

.fragment{
    font-size: 20px;
}
.articlesub3{
    display: flex;
    background-color: white;
    padding: 0;
}
.sizeimg1{
    width: 200px;
    margin-bottom: -2px;
}
.sizeimg{
    width: 200px;
}
.newc > p {
    font-size: 10px;
}
.tittlesuba{
    margin-top: 3em;
    font-size: 30px;
    text-align: center;
    color: rgb(219, 30, 38);
    font-family:'Trade Gothic' ;
}

.artsub3a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(220, 215, 198);
    margin-top: -9px;
    padding: 1em 0em .5em 2em;
}

.artsub3a > div > p{
    text-align: justify;
    padding: .5em;
    font-size: 1.2em;
}

.img4{
    max-width: 100%;
    width: 35%;
    margin-left: 35%;
    margin-top: 80px;
}
.back1{
    max-width: 100%;

}





.newb{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:4em;
    margin-bottom: 2em;
    padding: 2em 0em .5em 2em;
    background-color: rgb(220, 215, 198);
}

.newb > div > p{
    text-align: justify;
    padding: .5em;
    font-size: 1.2em;
}

.imgvc{
    max-width: 100%;
    margin-left: 35%;
    margin-top: -5%;
}

.imgvcl{
   padding: 10%;
}

.imgvc1{
    max-width: 100%;
    height: 80%;
    margin-left: 35%;
    margin-top: 12%;
}

.curve{
    font-family: ;
}

.centerm{
    text-align: center;
}

.tittlethe{
    background-color: rgb(219, 30, 38);
    color: white;
    padding: 1em 1em 1em 1em;
    font-size: 25px;
    font-family: 'Trade Gothic';
    text-align: center;
}

.booksStore{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.titlep{
    font-size: 20px;
}

.booksStore > div > img{
    width: 90%;
    margin-left: 20px;
}

.book2{
    max-width: 100%;
    height: 100%;
}

.book21{
    max-width: 100%;
    height: 99%;
}

.video{
    max-width: 100%;
    margin-bottom: 30%;
    margin-left: 5%;
}

.book213{
    max-width: 100%;
    height: 99%;
}

.youtube1{
    max-width: 100%;
    width: 30%;
}

.book223{
    max-width: 100%;
    height: 99%;    
}

.textcenter{
    text-align: center;
    font-size: 25px;
    font-family: 'Trade Gothic';
}

.textcolor{
    color: red;
    text-align: center;
    font-size: 25px;
    font-family: 'Trade Gothic';
}

table{
    padding: 2px;
    border-spacing: 10px;
}

tr > th {
    padding: 10px;
    font-size: 1.5em;
    font-family: arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
}

td{
    padding: 1em;
    font-size: 1.5em;
    background-color: grey;
    width: 50%;
}

.check1{
    max-width: 40px;
    margin-right: 20px;
    
}

.no{
    color: red;
    font-size: 45px;
}

.si{
    color: green;
    font-size: 45px;
    font-family: 'Gill Sans Nova';
}

.pego{
    font-size: 10px;
}

.gridl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.posf{
    width: 100%;
}

.fot{
    text-align: center;
    font-size: 2em;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(201, 59, 43);
    color: white;
    padding: 1em 0 10em 0;
}
.footer > div{
    padding: 4em;
}

.pfot{
    text-align: center;
}

.td-subwrapper {
    display: flex;
    align-items: center;
}

.td-subwrapper p {
    font-weight: 500;
    font-size: 15px;
}

